@import "syntax-variables";

.editor-colors {
  background-color: @syntax-background-color;
  color: @syntax-text-color;
}

atom-text-editor {
  text-rendering: optimizeLegibility;

  background-color: @syntax-background-color;
  color: @syntax-text-color;

  .cursor {
    background: @syntax-cursor-color;
    color: @syntax-cursor-color;
    border: none;
    border-radius: 0.16em;
  }

  &[mini] .cursor {
    height: 24px!important;
    width: 1px!important;
  }

  &.vim-mode-plus.insert-mode .cursor {
    width: 1px!important;
  }

  .bracket-matcher {
    background: @periwinkle;
  }

  .cursor-line {
    background: @syntax-selection-color;
  }

  .invisible-character {
    opacity: 0.5;
  }

  .wrap-guide {
    background-color: @syntax-wrap-guide-color;
  }

  .indent-guide {
    color: @syntax-indent-guide-color;
  }

  .invisible-character {
    color: @syntax-invisible-character-color;
  }

  .gutter {
    background-color: @syntax-gutter-background-color;
    color: @syntax-gutter-text-color;

    .line-number {
      &.cursor-line {
        background-color: @syntax-gutter-background-color-selected;
        color: @syntax-gutter-text-color-selected;
      }

      &.cursor-line-no-selection {
        color: @syntax-gutter-text-color-selected;
      }
    }
  }

  .gutter .line-number.folded,
  .gutter .line-number:after,
  .fold-marker:after {
    color: @light-gray;
  }

  .invisible {
    color: @syntax-text-color;
  }

  .selection .region {
    background-color: darken(@syntax-selection-color, 5%)!important;
  }
}

.editor .search-results .marker .region {
  background-color: transparent;
  border: 1px solid @syntax-result-marker-color;
}

.editor .search-results .marker.current-result .region {
  border: 1px solid @syntax-result-marker-color-selected;
}

// I am a comment
.syntax--comment {
  color: @light-gray;
  font-style: italic;
}

.syntax--entity {
  &.syntax--name.syntax--type {
    color: @pool;
    text-decoration: underline;
  }

  &.syntax--other.syntax--inherited-class {
    color: @green;
  }
}

.syntax--keyword {
  color: @deep-purple;

  &.syntax--control {
    color: @deep-purple;
  }

  &.syntax--module {
    font-weight: bold;
  }

  &.syntax--operator {
    color: @syntax-text-color;
  }

  &.syntax--other.syntax--special-method {
    color: @pool;
  }

  &.syntax--other.syntax--unit {
    color: @deep-purple;
    size: 22px;
  }
}

.syntax--storage {
  color: @maroon;
}

.syntax--constant {
  color: @pink;
  font-weight: bold;

  &.syntax--character.syntax--escape {
    color: @pink;
  }

  &.syntax--numeric {
    color: @pool;
  }

  &.syntax--other.syntax--color {
    color: @sky;
  }

  &.syntax--other.syntax--symbol {
    color: @pink;
  }
}

.syntax--variable {
  color: @orange;

  &.syntax--interpolation {
    color: darken(@red, 10%);
  }

  &.syntax--parameter.syntax--function {
    color: @syntax-text-color;
  }

  &.syntax--other {
    color: @dark-gray;
  }
}

.syntax--invalid.syntax--illegal {
  background-color: @red;
  color: @syntax-background-color;
}

.syntax--string {
  color: @green;
  background: fade(@light-green, 50%);

  &.syntax--regexp {
    color: @sky;

    .syntax--source.syntax--ruby.syntax--embedded {
      color: @orange;
    }
  }

  &.syntax--other.syntax--link {
    color: @red;
  }
}

.syntax--punctuation {
  &.syntax--definition {
    &.syntax--comment {
      color: @light-gray;
    }

    &.syntax--string,
    &.syntax--variable,
    &.syntax--parameters,
    &.syntax--array {
      color: @syntax-text-color;
    }

    &.syntax--heading,
    &.syntax--identity {
      color: @pool;
    }

    &.syntax--bold {
      color: @dark-mustard;
      font-style: bold;
    }

    &.syntax--italic {
      color: @purple;
      font-style: italic;
    }
  }

  &.syntax--section.syntax--embedded {
    color: darken(@red, 10%);
  }

}

.syntax--support {
  &.syntax--class {
    color: @dark-mustard;
  }

  &.syntax--property-name {
    color: @orange;
  }

  &.syntax--function  {
    color: @sky;

    &.syntax--any-method {
      color: @pool;
    }
  }
}

.syntax--entity {
  &.syntax--name.syntax--function {
    color: @desaturated-pink;
  }

  &.syntax--name.syntax--class, &.syntax--name.syntax--type.syntax--class {
    color: @desaturated-pink;
    font-weight: bold;
  }

  &.syntax--name.syntax--section {
    color: @pool;
  }

  &.syntax--name.syntax--tag {
    color: @purple;
  }

  &.syntax--other.syntax--attribute-name {
    color: @desaturated-pink;

    &.syntax--id {
      color: @pool;
    }
  }
}

.syntax--meta {
  &.syntax--class {
    color: @dark-mustard;
  }

  &.syntax--link {
    color: @orange;
  }

  &.syntax--require {
    color: @pool;
  }

  &.syntax--selector {
    color: @purple;
  }

  &.syntax--separator {
    background-color: @gray;
    color: @syntax-text-color;
  }
}

.syntax--none {
  color: @syntax-text-color;
}

.syntax--markup {
  &.syntax--bold {
    color: @orange;
    font-weight: bold;
  }

  &.syntax--changed {
    color: @purple;
  }

  &.syntax--deleted {
    color: @red;
  }

  &.syntax--italic {
    color: @purple;
    font-style: italic;
  }

  &.syntax--heading .syntax--punctuation.syntax--definition.syntax--heading {
    color: @pool;
  }

  &.syntax--inserted {
    color: @green;
  }

  &.syntax--list {
    color: @red;
  }

  &.syntax--quote {
    color: @orange;
  }

  &.syntax--raw.syntax--inline {
    color: @green;
  }
}

.source.gfm .markup {
  -webkit-font-smoothing: auto;
  &.heading {
    color: @green;
  }
}

.editor.mini .scroll-view {
  padding-left: 1px;
}
