// old cold grays
@very-nearly-white: #f9fcff;
@very-light-gray: #bbccdd;
@light-gray: #8899aa;
@gray: #667f99;
@dark-gray: #223344;
@very-dark-gray: #051525;

@marine-blue: #086F8A;
@periwinkle: #ccddff;
@sky: #3999FF;
@pool: #0CADD6;
@maroon: #9E3430;
@pale-purple: #8887ac;
@purple: #66629f;
@deep-purple: #4400ab;
@pink: #ee046f;
@desaturated-pink: #DB4E80;
@light-green: #96E8CB;
@green: #205B46;
@red: #F72D37;
@orange: #f85B3A;
@dark-mustard: #c08624;
@lily: #e3f6ff;
