@import "colors";

@syntax-text-color: @marine-blue;
@syntax-cursor-color: @pink;
@syntax-selection-color: @lily;
@syntax-background-color: @very-nearly-white;

@syntax-wrap-guide-color: @periwinkle;
@syntax-indent-guide-color: @periwinkle;
@syntax-invisible-character-color: @very-light-gray;

@syntax-result-marker-color: @light-gray;
@syntax-result-marker-color-selected: @periwinkle;

@syntax-gutter-text-color: @pale-purple;
@syntax-gutter-text-color-selected: @purple;
@syntax-gutter-background-color: darken(@very-nearly-white, 1.5%);
@syntax-gutter-background-color-selected: @lily;

@syntax-color-renamed: @pool;
@syntax-color-added: @light-green;
@syntax-color-modified: @orange;
@syntax-color-removed: @red;
